extends layout

block content
  - var n = 0
  table(style='', border='0')
    each elem,i in conversations
      tr
        td !{i}
        td !{elem.sid}
        td !{elem.uniqueName}
        td !{elem.friendlyName}
        td !{elem.state}
        td !{elem.dateCreated}
    else 
      tr 
        td None found